.header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

  .logo {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 50px;

    @media (max-width: 480px) {
      font-size: 1rem;
      margin-left: 20px;
    }
  }

  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
    // padding-top: 15px;
    // padding-bottom: 15px;
    display: flex;
    background-color: white;

    div {
      flex: 1;
      // width: 160px;
      height: 30px;
      align-items: center;
      font-weight: 900;
      text-decoration: none;
      display: flex;
      // margin-left: 50px;

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      text-align: right;
      // margin-right: 30px;

      &:hover {
        cursor: pointer;
        color: var(--button-color);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
      }

      li {
        align-items: center;
        margin-left: 5px;
        padding: 10px 20px;
        display: flex;

        .link {
          display: inline-block;
          position: relative;
          color: black;
          text-decoration: none;
          padding-bottom: 2px;
        }

        .link:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: var(--button-color);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        .link:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      @media (max-width: 480px) {
        li {
          padding: 0 5px;
        }
      }
    }
  }
}
