.container {
  padding: 30px;

  @media (max-width: 480px) {
    & {
      padding: 20px;
    }
  }

  .shopCart {
    position: absolute;

    .icon {
      height: 30px;
      width: 30px;
      color: var(--button-par);

      @media (max-width: 480px) {
        & {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 22px;
  }
}
