.generateButton {
  position: absolute;
  padding: 12px 30px;
  top: 350px;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}
