@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300&family=Rubik&family=Sigmar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: Manrope, ans-serif;
  --font-family-two: Roboto, ans-serif;
  --font-size-s: 13px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-x-l: 24px;
  --font-size-xx-l: 34px;
  --background-color-benefits: #faf5f2;
  --background-color-footer: #111111;
  --color-span: #999;
  --color-par: #777777;
  --color-footer-text: #979797;
  --color-h: #2d2d43;
  --color-icon: #c9c9c9;
  --color-white: #fff;
  --button-color: #d17721;
  --button-color-hover: #a75f1a;
  --border-radius: 5px;
}

body {
  width: auto;
  height: auto;
  font-family: var(--font-family), sans-serif;
}

p {
  margin: 0;
  padding: 0;
}
