@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300&family=Rubik&family=Sigmar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: Manrope, ans-serif;
  --font-size-s: 13px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-x-l: 24px;
  --font-size-xx-l: 34px;
  --background-color-benefits: #faf5f2;
  --background-color-footer: #111111;
  --color-span: #999;
  --color-par: #777777;
  --color-h: #2d2d43;
  --color-icon: #c9c9c9;
  --color-white: #fff;
  --button-color: #d17721;
  --button-color-hover: #a75f1a;
  --border-radius: 5px;
}

body {
  width: auto;
  height: auto;
  font-family: var(--font-family), sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
    // padding-top: 15px;
    // padding-bottom: 15px;
    display: flex;
    background-color: white;

    div {
      flex: 1;
      // width: 160px;
      height: 30px;
      align-items: center;
      font-weight: 900;
      text-decoration: none;
      display: flex;
      // margin-left: 50px;

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      text-align: right;
      // margin-right: 30px;

      &:hover {
        cursor: pointer;
        color: var(--button-color);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
      }

      li {
        align-items: center;
        margin-left: 5px;
        padding: 10px 20px;
        display: flex;
      }
    }
  }
}

footer {
  background-color: var(--background-color-footer);
  padding: 0 50px;
  padding-top: 20px;
  grid-column-gap: 64px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  color: white;

  div {
    flex-direction: column;
    display: flex;

    .ContainerContactUs {
      display: flex;
      flex-direction: row;
    }

    // div {
    //   display: block;
    //   flex-direction: initial;

    //   .block {
    //     display: block;
    //   }

    //   p {
    //     margin-left: 10px;
    //     margin-bottom: 20px;
    //   }
    // }

    h5 {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.875rem;
      text-transform: capitalize;
      margin-bottom: 30px;
      font-weight: 900;
    }

    p {
      font-weight: normal;
      font-size: 1rem;
      color: #979797;
      letter-spacing: 0.5px;
    }
  }

  form {
    display: flex;
    margin-bottom: 25px;

    div {
      display: block;

      p {
        font-weight: normal;
        font-size: 1rem;
        color: #979797;
        letter-spacing: 0.5px;
      }
    }

    input {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.15);
      padding: 12px 20px;
      font-size: 16px;
      outline: none;
      width: 85%;
      color: #aaa;
      border-radius: 0.25rem 0 0 0.25rem;
    }

    button {
      text-align: center;
      background: var(--button-color);
      border: none;
      outline: none;
      color: #eee;
      font-size: 18px;
      cursor: pointer;
      width: 15%;
      border-radius: 0 0.25rem 0.25rem 0;

      .icon {
        width: 20px;
      }
    }
  }
}
