// .picCtn {
//   width: 100vw;
//   height: 200px;
// }

// @keyframes display {
//   0% {
//     transform: translateX(200px);
//     opacity: 0;
//   }
//   10% {
//     transform: translateX(0);
//     opacity: 1;
//   }
//   20% {
//     transform: translateX(0);
//     opacity: 1;
//   }
//   30% {
//     transform: translateX(-200px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(-200px);
//     opacity: 0;
//   }
// }

// .picCtn {
//   position: relative;
//   width: 100vw;
//   height: 300px;
//   margin-top: 15vh;
// }

// .picCtn > .pic {
//   position: absolute;
//   top: 0;
//   left: calc(50% - 100px);
//   opacity: 0;
//   animation: display 10s infinite;
// }

// .pic:nth-child(2) {
//   animation-delay: 2s;
// }
// .pic:nth-child(3) {
//   animation-delay: 4s;
// }
// .pic:nth-child(4) {
//   animation-delay: 6s;
// }
// .pic:nth-child(5) {
//   animation-delay: 8s;
// }

.container {
  height: 85vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url('../public//images/coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 700px;

  h1 {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 50px;
    padding-top: 80px;

    span {
      font-size: 3rem;
      font-weight: 900;
    }
  }

  .containerHeroText {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  div {
    display: flex;
    gap: 24px;

    .heroButtonGoToProduct {
      padding: 10px 25px;
      border: none;
      font-size: 1.2rem;
      border-radius: 5px;
      letter-spacing: 0.5px;
      background-color: var(--button-color);
      color: var(--color-white);
      font-weight: bold;
      text-decoration: none;
      text-align: center;

      &:hover {
        cursor: pointer;
        background-color: var(--button-color-hover);
        transition: 0.3s ease-in;
      }
    }

    .heroButtonAboutUs {
      padding: 10px 25px;
      border: none;
      font-size: 1.2rem;
      border-radius: 5px;
      letter-spacing: 0.5px;
      background-color: var(--color-white);
      color: var(--button-color);
      font-weight: bold;
      text-decoration: none;
      text-align: center;

      &:hover {
        cursor: pointer;
        color: var(--background-color-footer);
        transition: 0.3s ease-in;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    height: auto;
    padding-left: 0;

    h1 {
      font-size: 2.125rem;
      padding: 0 50px;
      margin-top: 30px;
      margin-bottom: 30px;

      span {
        font-size: 2.5rem;
      }
    }

    .containerHeroText {
      line-height: 1.75rem;
      margin-bottom: 30px;
      padding: 0 50px;
      font-size: 1.25rem;
    }

    div {
      display: grid;
      gap: 14px;

      .heroButtonGoToProduct {
        padding: 10px 25px;
        margin-left: 50px;
        width: 55%;
      }

      .heroButtonAboutUs {
        padding: 10px 25px;
        margin-left: 50px;
        width: 55%;
        margin-bottom: 50px;
      }
    }
  }
}

.containerSectionAboutUs {
  display: flex;

  div {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .knowMoreButtonAboutUs {
      margin-top: 30px;
      padding: 10px 25px;
      width: 28%;
      font-size: 1.2rem;
      border-radius: 5px;
      letter-spacing: 0.5px;
      background-color: var(--color-white);
      color: var(--button-color);
      border: 1px solid var(--button-color);
      font-weight: bold;
      text-decoration: none;
      text-align: center;

      &:hover {
        cursor: pointer;
        color: var(--color-white);
        background-color: var(--button-color);
        transition: 0.3s ease-in;
      }
    }

    span {
      font-size: 1.375rem;
      font-weight: 600;
      color: var(--color-span);
    }

    h3 {
      margin-top: 10px;
      font-size: 2.188rem;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 30px;
      color: var(--color-h);
    }

    p {
      font-size: 1.125rem;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: var(--color-par);
    }
  }

  .imageMakeCoffee {
    flex: 0 0 50%;
    max-width: 50%;
    vertical-align: middle;
    padding: 70px 50px 70px 50px;
    border-style: none;
    object-fit: cover;

    img {
      border-radius: var(--border-radius);
      width: 550px;
      height: 350px;
    }
  }
}

@media (max-width: 480px) {
  .containerSectionAboutUs {
    display: block;

    div {
      max-width: 100%;
      padding: 70px 50px;

      .knowMoreButtonAboutUs {
        width: 55%;
      }

      span {
        font-weight: 600;
        color: var(--color-span);
      }

      h3 {
        margin-bottom: 30px;
      }

      p {
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--color-par);
      }
    }

    .imageMakeCoffee {
      max-width: 100%;
      vertical-align: middle;
      padding-top: 0;

      img {
        width: auto;
        height: auto;
      }
    }
  }
}

.containerSectionBenefits {
  background: var(--background-color-benefits);
  padding: 70px 0;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 10px;

    div {
      display: block;
      text-align: center;

      .icon {
        color: var(--button-color);
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
      }

      h4 {
        margin: 0;
        padding: 0;
        color: var(--color-h);
        font-size: 1.563rem;
        margin-bottom: 20px;
      }

      p {
        width: 80%;
        margin: auto;
        font-size: 1.125rem;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--color-par);
      }
    }
  }
}

@media (max-width: 480px) {
  .containerSectionBenefits {
    padding: 30px 0;

    div {
      display: block;

      div {
        padding: 30px;
      }
    }
  }
}

.containerHours {
  display: flex;
  padding: 100px 50px;

  .hoursText {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
      margin-top: 10px;
      font-size: 2.188rem;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 30px;
      color: var(--color-h);
    }

    p {
      font-size: 1.125rem;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: var(--color-par);
    }
  }

  .imageCoffee {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .hours {
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 25px;
      font-weight: 600;
      line-height: 30px;
      margin-bottom: 20px;
      color: #2d2d43;
    }

    ul {
      margin-bottom: 30px;

      li {
        text-align: left;
        list-style-type: none;
        color: #999;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .containerHours {
    display: block;
    padding: 50px 50px;

    .imageCoffee {
      padding: 50px 0;
    }
  }
}
