.container {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3)
    ),
    url('../public//images/coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 700px;

  h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 50px;
    padding-top: 80px;

    span {
      font-size: 3rem;
      font-weight: 900;
    }
  }

  .containerHeroText {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  div {
    display: flex;
    gap: 24px;

    .heroButtonGoToProduct {
      padding: 12px 30px;
      border: none;
      font-size: 1.2rem;
      border-radius: 5px;
      letter-spacing: 0.5px;
      background-color: var(--button-color);
      color: var(--color-white);
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: var(--button-color-hover);
        transition: 0.3s ease-in;
      }
    }

    .heroButtonAboutUs {
      padding: 12px 30px;
      border: none;
      font-size: 1.2rem;
      border-radius: 5px;
      letter-spacing: 0.5px;
      background-color: var(--color-white);
      color: var(--button-color);
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: var(--background-color-footer);
        transition: 0.3s ease-in;
      }
    }
  }
}

.containerSectionAboutUs {
  display: flex;

  div {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .knowMoreButtonAboutUs {
      margin-top: 30px;
      padding: 12px 30px;
      width: 32%;
      font-size: 1.2rem;
      border-radius: 5px;
      letter-spacing: 0.5px;
      background-color: var(--color-white);
      color: var(--button-color);
      border: 1px solid var(--button-color);
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: var(--color-white);
        background-color: var(--button-color);
        transition: 0.3s ease-in;
      }
    }

    span {
      font-size: 1.375rem;
      font-weight: 600;
      color: var(--color-span);
    }

    h3 {
      margin-top: 10px;
      font-size: 2.188rem;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 30px;
      color: var(--color-h);
    }

    p {
      font-size: 1.125rem;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: var(--color-par);
    }
  }

  .imageMakeCoffee {
    flex: 0 0 50%;
    max-width: 50%;
    vertical-align: middle;
    padding: 130px 50px 70px 50px;
    border-style: none;
    border-radius: var(--border-radius);
    object-fit: cover;
  }
}

.containerSectionBenefits {
  background: var(--background-color-benefits);
  padding: 70px 0;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 30px;

    div {
      display: block;
      text-align: center;

      .icon {
        color: var(--button-color);
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
      }

      h4 {
        margin: 0;
        padding: 0;
        color: var(--color-h);
        font-size: 1.563rem;
        margin-bottom: 20px;
      }

      p {
        width: 80%;
        margin: auto;
        font-size: 1.125rem;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--color-par);
      }
    }
  }
}

.containerSectionProducts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  .product {
    display: flex;

    .textContainer {
      width: 50%;
      padding: 70px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        display: flex;

        .icon {
          width: 50px;
          color: var(--color-icon);
          margin-top: 30px;
        }

        span {
          font-size: 1.125rem;
          line-height: 28px;
          letter-spacing: 0.5px;
          color: var(--color-par);
          margin-top: 30px;
          margin-left: 30px;
        }
      }

      h3 {
        margin-top: 10px;
        font-size: 2.188rem;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 30px;
        color: var(--color-h);
      }

      p {
        font-size: 1.125rem;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--color-par);
      }
    }

    .imageContainer {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 70px 50px 70px 50px;

      .container {
        position: relative;
        margin-top: 50px;
        width: 700px;
        height: 500px;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
      }

      .container:hover .overlay {
        display: block;
        background: rgba(0, 0, 0, 0.3);
      }

      .img {
        position: absolute;
        width: 700px;
        height: 500px;
        left: 0;
        z-index: -10;
      }

      .title {
        position: absolute;
        width: 500px;
        left: 0;
        top: 120px;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        z-index: 1;
        transition: top 0.5s ease;
      }

      .container:hover .title {
        top: 90px;
      }

      .button {
        position: absolute;
        width: 500px;
        left: 0;
        top: 180px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.35s ease;
      }

      .button .a {
        width: 200px;
        padding: 12px 48px;
        text-align: center;
        color: white;
        border: solid 2px white;
        z-index: 1;
      }

      .container:hover .button {
        opacity: 1;
      }
    }
  }
}
