.containerSectionProducts {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  h1 {
    font-size: 2.188rem;
    font-weight: 600;
    color: var(--color-h);
    padding: 30px 0;
    text-align: center;
  }

  .product {
    display: flex;
    flex-direction: row-reverse;

    .textContainer {
      width: 50%;
      padding: 70px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .flex {
        display: flex;
        justify-content: space-between;
      }

      .button {
        padding: 10px 25px;
        border: none;
        border-radius: var(--border-radius);
        letter-spacing: 0.5px;
        background-color: #d17721;
        color: white !important;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;

        &:hover {
          cursor: pointer;
          background-color: var(--button-color-hover);
          transition: 0.3s ease-in;
        }
      }

      div {
        display: flex;

        .icon {
          width: 20px;
          color: var(--color-icon);
          margin-top: 30px;
        }

        span {
          font-size: 1.125rem;
          line-height: 28px;
          letter-spacing: 0.5px;
          color: var(--color-par);
          margin-top: 30px;
          margin-left: 30px;
        }
      }

      h3 {
        margin-top: 10px;
        font-size: 2.188rem;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 30px;
        color: var(--color-h);
      }

      p {
        font-size: 1.125rem;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--color-par);
      }

      .price {
        font-size: 1.125rem;
        line-height: 28px;

        letter-spacing: 0.5px;
        color: var(--color-par);
        margin-top: 30px;

        span {
          color: #d17721;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .imageContainer {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 70px 50px 70px 50px;
      border-radius: var(--border-radius);

      .img {
        height: 500px;
        width: 500px;
        border-radius: var(--border-radius);
      }
    }
  }

  @media (max-width: 480px) {
    .product {
      display: block;

      .textContainer {
        width: 100%;
        padding: 0 50px;
      }

      .imageContainer {
        width: 100%;
        padding: 50px 50px;

        .img {
          height: 300px;
          width: 300px;
          border-radius: var(--border-radius);
        }
      }
    }
  }

  h2 {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
    color: var(--color-h);
  }

  .productsCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 50px;

    .container {
      position: relative;
      height: 500px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 96%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
    }

    .container:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.3);
    }

    .img {
      position: absolute;
      width: 700px;
      height: 500px;
      left: 0;
      z-index: -10;
    }

    .button {
      border: none;
      font-size: 0.8rem;
      border-radius: var(--border-radius);
      color: white;
      font-weight: bold;

      position: absolute;
      opacity: 0;
      transition: opacity 0.35s ease;
      margin-top: -125px;
      margin-left: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    .button .a {
      width: 200px;
      text-align: center;
      color: var(--button-color-hover) !important;
      z-index: 1;
    }

    .container:hover .button {
      opacity: 1;
    }

    .productCard {
      align-items: center;
      overflow: hidden;
      display: flex;
      height: 300px;
      width: 250px;
      border: 1px solid var(--color-span);
      flex-direction: column;
      border-radius: var(--border-radius);

      .productName {
        text-decoration: none;
        letter-spacing: 0.5px;
        font-size: 1.125rem;
        font-weight: bolder;
        color: var(--color-h);
      }

      .productType {
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--color-par);
      }

      .productPrice {
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: var(--button-color);
        font-weight: bold;
        padding-bottom: 6px;

        span {
          color: var(--color-par);
          text-transform: none;
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .productsCardsContainer {
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
      padding: 0 50px;
    }
  }
}
