.sumContainer {
  width: 50%;
  display: block;
  align-items: start;
  justify-content: center;
  padding: 70px 50px 70px 50px;
  gap: 50px;

  h2 {
    font-weight: bold;
    margin-bottom: 32px;
  }

  .subtotal {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;

    h5 {
      color: var(--color-par);
    }

    p {
      color: var(--color-par);
    }
  }

  .total {
    display: flex;
    margin-bottom: 32px;
    border-top: 1px solid var(--color-span);
    justify-content: space-between;

    h3 {
      color: var(--color-h);
      margin-top: 32px;

      p {
        color: var(--color-h);
      }

      span {
        font-weight: bold;
        color: var(--button-color);
        font-size: 1.5rem;
      }
    }
  }

  .button {
    padding: 12px 30px;
    width: 100%;
    float: right;
    border-radius: var(--border-radius);
    letter-spacing: 0.5px;
    background-color: var(--color-white);
    color: var(--button-color);
    border: 1px solid var(--button-color);
    text-align: center;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: var(--color-white) !important;
      background-color: var(--button-color-hover);
      transition: 0.3s ease-in;
    }
  }
}
